*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid-container {
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin: 0 auto;
    color: black;
    border: solid 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    grid-template-rows:350px 70px auto 150px ;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main aside"
    "footer footer footer";
}

.logotipo {
    width: 100%;
    height: 250px;
    transform: translateY(25px);
    background-image: linear-gradient(aqua 70%, rgb(31, 183, 31));
}

img {
    width: 220px;
    height: 220px  ;
}

/* Inicio Index */

.cabecera {
background-image: linear-gradient(rgb(31, 183, 31) 60%, aqua);
grid-area: header;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.cabecera h1 {
    padding: 30px;
    font-size: 60px;
    margin-bottom: 80px;
    transform: translateY(30px);
}

.navegador {
background-image: linear-gradient(aqua, rgb(31, 183, 31) );
grid-area: nav;
height: 100%;
}

.navegador ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}




.navegador ul li a {
    background-color: violet;
    text-decoration: none;
    color: white;
    border: solid 4px black;
    border-radius: 10px;
    padding: 15px;
}

.principal {
background-image: linear-gradient(rgb(31, 183, 31),aqua);
grid-area: main;
width: auto;
display: flex;
flex-direction: column;
justify-content: center;
}


.principal h2 {
    background-image: linear-gradient(rgb(250, 101, 238), rgb(59, 2, 59));
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 35px;
    border: solid 3px black;
    border-radius: 50px;
    padding: 15px;
    color: aliceblue;
    width: 350px;
    transform: translateX(120px);
    
}

.principal .section1 {
    margin-top: 70px;
    font-size: 25px;
    
}


.principal .section2 {
    margin-top: 150px;
    font-size: 25px;
}

.principal .section3 {
    margin-top: 150px;
    font-size: 25px;
}

.section1 {
display: flex;
justify-content: space-evenly;
align-items: center;
text-align: center;
margin-left: 30px;
width: auto;
}

.section1 div {
    background-color: green;
    padding: 10px;
    border: solid 4px;
    border-radius: 100px;
}

.section1 div p {
    border: solid 4px black;
    border-radius: 50px;
    padding: 20px;
    margin: 10px;
    background-image: linear-gradient(rgb(250, 101, 238), rgb(59, 2, 59));
    color: aliceblue;
}

.section1 div img {
    border: solid 4px;
    border-radius: 100px;
}

.section2 {
display: flex;
justify-content: space-evenly;
align-items: center;
text-align: center;
margin-left: 30px;
}

.section2 div {
    border: solid 4px;
    border-radius: 100px;
    padding: 10px;
    background-color: green;
}

.section2 div p {
    border: solid 4px black;
    border-radius: 50px;
    padding: 20px;
    margin: 15px;
    background-image: linear-gradient(rgb(250, 101, 238), rgb(59, 2, 59));
    color: aliceblue;
}



.section2 div img {
    border: solid 4px;
    border-radius: 100px;
}


.section3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-left: 30px;
    }

.section3 div {
    border: solid 4px;
    border-radius: 100px;
    padding: 10px;
    background-color: green;
    }

.section3 div p {
        background-image: linear-gradient(rgb(250, 101, 238), rgb(59, 2, 59));
        border: solid 4px black;
        border-radius: 50px;
        padding: 20px;
        margin: 15px;
        color: aliceblue;
    }

.section3 div img {
        border: solid 4px;
        border-radius: 100px;
    }

    .section4 p {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }

.section4 p a {
    background-image: linear-gradient(rgb(254, 241, 0), rgb(170, 31, 183) );
    text-decoration: none;
    border: solid 4px black;
    border-radius: 50px;
    padding: 15px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    width: 80%;
}



.publicidad {
background-image: linear-gradient( rgb(31, 183, 31), aqua);
grid-area: aside;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
width: auto;
}

.publicidad h2 {
    font-size: 30px;
    margin-top: 50px;
    border: solid 4px black;
    border-radius: 10px;
    padding: 20px;
    color: aliceblue;
    background-image: linear-gradient(rgb(250, 101, 238), rgb(59, 2, 59));
    width: auto;
}

.publicidad div {
    border: solid 4px;
    border-radius: 30px;
    padding: 20px;
    margin: 50px 50px;
    background-image: linear-gradient(rgb(203, 13, 13), rgb(239, 56, 175));
}

.publicidad div p {
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    font-size: 30px;
}

.publicidad div iframe {
    border: solid 3px;
    border-radius: 30px;
}
    

.pie {
background-image: linear-gradient(aqua, rgb(31, 183, 31) 70%);
grid-area: footer;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
}

.pie div {
    display: flex;
    
}

.pie div p {
    background-image: linear-gradient(deeppink, black); 
    font-size: 25px;
    border: solid 4px;
    border-radius: 10px;
    padding: 30px;
    
}

.pie a {
    text-decoration: none;
    color: white;
    display: flex;
}

/* Fin Index */




/* Inicio Contacto */

.logotipo-contacto {
    width: 100%;
    height: 250px;
    transform: translateY(25px);
    background-image: linear-gradient(aqua 70%, rgb(31, 183, 31));
}

.cabecera-contacto {
background-image: linear-gradient(rgb(31, 183, 31) 60%, aqua);
grid-area: header;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.cabecera-contacto h1 {
    padding: 30px;
    font-size: 60px;
    margin-bottom: 80px;
    transform: translateY(30px);
}

.principal-div-contacto {
    transform: translateY(-50px);
}
.principal-div-contacto iframe {
    padding: 30px;
    height: 1500px;
    border-radius: 70px;
    transform: translateX(-20px);
}

.principal-div-contacto h2 {
    margin-bottom: 100px;

}

.publicidad-contacto {
background-image: linear-gradient( rgb(31, 183, 31), aqua);
grid-area: aside;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
width: auto;
}

.publicidad-contacto h2 {
    font-size: 30px;
    margin-top: 120px; 
    border: solid 4px black;
    border-radius: 10px;
    padding: 20px;
    color: aliceblue;
    background-image: linear-gradient(rgb(250, 101, 238), rgb(59, 2, 59));
    width: auto;
}

.publicidad-contacto div {
    border: solid 4px;
    border-radius: 30px;
    padding: 20px;
    margin: 50px 50px;
    background-color: crimson;
}

.publicidad-contacto div p {
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    font-size: 30px;
}

.publicidad-contacto div iframe {
    border: solid 4px;
    border-radius: 30px;
}
    

.pie-contacto {
    background-image: linear-gradient(aqua, rgb(31, 183, 31));
    grid-area: footer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    }


    .pie-contacto div {
        display: flex;
        
    }
    
    .pie-contacto div p {
        background-image: linear-gradient(deeppink, black); 
        font-size: 25px;
        border: solid 4px;
        border-radius: 10px;
        padding: 30px;
        
    }
    
    .pie-contacto a {
        text-decoration: none;
        color: white;
        display: flex;
    }


    /*Fin Contacto */

    /* Inicio Servicios */


    .logotipo-servicios {
        width: 100%;
        height: 250px;
        transform: translateY(25px);
        background-image: linear-gradient(aqua 70%, rgb(31, 183, 31));
    }
    
    .cabecera-servicios {
    background-image: linear-gradient(rgb(31, 183, 31) 60%, aqua);
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    
    .cabecera-servicios h1 {
        padding: 30px;
        font-size: 60px;
        margin-bottom: 80px;
        transform: translateY(30px);
    }
    
    .principal-servicios {
        grid-area: main;
        background-image: linear-gradient( rgb(31, 183, 31), aqua);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

    }

    .principal-servicios p {
        background-image: linear-gradient(rgb(250, 101, 238), rgb(59, 2, 59));
        font-size: 30px;
        border: solid 4px;
        border-radius: 50px;
        padding: 25px;
        font-weight: bold;
        margin-left: 30px;
        

    }
    

    .publicidad-servicios {
    background-image: linear-gradient( rgb(31, 183, 31), aqua);
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    }
    
    .publicidad-servicios h2 {
        font-size: 30px;
        margin-top: 120px; 
        border: solid 4px black;
        border-radius: 10px;
        padding: 20px;
        color: aliceblue;
        background-image: linear-gradient(rgb(250, 101, 238), rgb(59, 2, 59));
        width: auto;
    }
    
    .publicidad-servicios div {
        border: solid 4px;
        border-radius: 30px;
        padding: 20px;
        margin: 50px 50px;
        background-color: crimson;
    }
    
    .publicidad-servicios div p {
        margin: 20px;
        border-radius: 10px;
        padding: 20px;
        font-size: 30px;
    }
    
    .publicidad-servicios div iframe {
        border: solid 4px;
        border-radius: 30px;
    }
        
    
    .pie-servicios {
        background-image: linear-gradient(aqua, rgb(31, 183, 31));
        grid-area: footer;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        }
    
    
        .pie-servicios div {
            display: flex;
            
        }
        
        .pie-servicios div p {
            background-image: linear-gradient(deeppink, black); 
            font-size: 25px;
            border: solid 4px;
            border-radius: 10px;
            padding: 30px;
            
        }
        
        .pie-servicios a {
            text-decoration: none;
            color: white;
            display: flex;
        }

        /* Fin Servicios */

        /* Inicio Recomendaciones */

        .logotipo-recomendaciones {
            width: 100%;
            height: 250px;
            transform: translateY(25px);
            background-image: linear-gradient(aqua 70%, rgb(31, 183, 31));
        }
        
        .cabecera-recomendaciones {
        background-image: linear-gradient(rgb(31, 183, 31) 60%, aqua);
        grid-area: header;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
        
        .cabecera-recomendaciones h1 {
            padding: 30px;
            font-size: 60px;
            margin-bottom: 80px;
            transform: translateY(30px);
        }

        .principal-recomendaciones {
            grid-area: main;
            background-image: linear-gradient( rgb(31, 183, 31), aqua);
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        .principal-recomendaciones h2 {
            background-image: linear-gradient(rgb(250, 101, 238), rgb(59, 2, 59));
            font-size: 30px;
            border: solid 4px;
            border-radius: 100px;
            padding: 25px;
            font-weight: bold;
            margin-left: 30px;
        }

        .principal-recomendaciones p {
            background-image: linear-gradient(rgba(56, 7, 252, 0.482), rgb(230, 5, 218));
            font-size: 20px;
            border: solid 4px;
            border-radius: 50px;
            padding: 20px;
            font-weight: bold;
            margin-left: 30px;
        }

        
        .publicidad-recomendaciones {
        background-image: linear-gradient( rgb(31, 183, 31), aqua);
        grid-area: aside;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: auto;
        }
        
        .publicidad-recomendaciones h2 {
            font-size: 30px;
            margin-top: 120px; 
            border: solid 4px black;
            border-radius: 10px;
            padding: 20px;
            color: aliceblue;
            background-image: linear-gradient(rgb(250, 101, 238), rgb(59, 2, 59));
            width: auto;
        }
        
        .publicidad-recomendaciones div {
            border: solid 4px;
            border-radius: 30px;
            padding: 20px;
            margin: 50px 50px;
            background-color: crimson;
        }
        
        .publicidad-recomendaciones div p {
            margin: 20px;
            border-radius: 10px;
            padding: 20px;
            font-size: 30px;
        }
        
        .publicidad-recomendaciones div iframe {
            border: solid 4px;
            border-radius: 30px;
        }

        .pie-recomendaciones {
            background-image: linear-gradient(aqua, rgb(31, 183, 31));
            grid-area: footer;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            }
        
        
            .pie-recomendaciones div {
                display: flex;
                
            }
            
            .pie-recomendaciones div p {
                background-image: linear-gradient(deeppink, black); 
                font-size: 25px;
                border: solid 4px;
                border-radius: 10px;
                padding: 30px;
                
            }
            
            .pie-recomendaciones a {
                text-decoration: none;
                color: white;
                display: flex;
            }

    




@media screen and (max-width:1050px) {

    .grid-container {
        width: 100%;
        margin: 0;
        border: none;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 350px 70px auto auto 150px;
        grid-template-areas:
        "header header"
        "nav nav"
        "main main"
        "aside aside"
        "footer footer";
    }

    .logotipo {
        transform: translateY(62px);
    }

    .cabecera h1 {
        transform: translateX(80px);
        margin-top: 50px;
    }

    .principal h2 {
        margin-top: 60px;
        transform: translateX(240px);
    }
    
    .publicidad h2 {
        margin-bottom: 100px;
    }
    
    .principal-div-contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
    }

    .principal-div-contacto h2 {
      transform: translateX(-20px);
      margin-bottom: 200px;
    }

    

    .publicidad {
        background-image: linear-gradient(aqua, rgb(31, 183, 31));
    }
    
    .publicidad h2 {
        margin-top: 200px;
    }
    
    .publicidad div {
        height: auto;
        width: 600px;
    }
    
    .publicidad div iframe {
    height: auto;
    width: 100%;
    }
    
    .publicidad div p {
        font-size: 30px;
    }

    .pie {
        padding: 40px;
        background-image: linear-gradient(rgb(31, 183, 31), aqua);
    }


    

    .principal-div-contacto {
        transform: translateX(20px);
    }
   
    .publicidad-contacto {
        background-image: linear-gradient(aqua, rgb(31, 183, 31));

    }
    
    .publicidad-contacto h2 {
       margin-bottom: 100px;
    }
    
    .publicidad-contacto div {
        height: auto;
        width: 600px;
    }
    
    .publicidad-contacto div iframe {
    height: auto;
    width: 100%;
    border: none;
    }
    
    .publicidad-contacto div p {
        font-size: 30px;
    }
    
    
    .pie-contacto {
        background-image: linear-gradient(rgb(31, 183, 31), aqua);
        grid-area: footer;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        }


        .pie-contacto div {
            display: flex;
            
        }
        
        .pie-contacto div p {
            background-image: linear-gradient(deeppink, black); 
            font-size: 25px;
            border: solid 4px;
            border-radius: 10px;
            padding: 30px;
            
        }
        
        .pie-contacto a {
            text-decoration: none;
            color: white;
            display: flex;
        }
        
    
    






    .principal-servicios p {
       margin-top: 100px;
       margin-right: 30px;
    }
   
    .publicidad-servicios {
        background-image: linear-gradient(aqua, rgb(31, 183, 31));

    }
    
    .publicidad-servicios h2 {
       margin-bottom: 100px;
    }
    
    .publicidad-servicios div {
        height: auto;
        width: 600px;
    }
    
    .publicidad-servicios div iframe {
    height: auto;
    width: 100%;
    border: none;
    }
    
    .publicidad-servicios div p {
        font-size: 30px;
    }
    
    
    .pie-servicios {
        background-image: linear-gradient(rgb(31, 183, 31), aqua);
        grid-area: footer;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        }


        .pie-servicios div {
            display: flex;
            
        }
        
        .pie-servicios div p {
            background-image: linear-gradient(deeppink, black); 
            font-size: 25px;
            border: solid 4px;
            border-radius: 10px;
            padding: 30px;
            
        }
        
        .pie-servicios a {
            text-decoration: none;
            color: white;
            display: flex;
        }




        
        .principal-recomendaciones h2 {
         margin-top: 150px;
         margin-bottom: 150px;
         margin-right: 30px;
        }
        
        
        .principal-recomendaciones p {
            margin-top: 100px;
            margin-right: 30px;
         }
        
         .publicidad-recomendaciones {
             background-image: linear-gradient(aqua, rgb(31, 183, 31));
     
         }
         
         .publicidad-recomendaciones h2 {
            margin-bottom: 100px;
         }
         
         .publicidad-recomendaciones div {
             height: auto;
             width: 600px;
         }
         
         .publicidad-recomendaciones div iframe {
         height: auto;
         width: 100%;
         border: none;
         }
         
         .publicidad-recomendaciones div p {
             font-size: 30px;
         }
         
         
         .pie-recomendaciones {
             background-image: linear-gradient(rgb(31, 183, 31), aqua);
             grid-area: footer;
             display: flex;
             flex-direction: row;
             align-items: center;
             justify-content: space-evenly;
             }
     
     
             .pie-recomendaciones div {
                 display: flex;
                 
             }
             
             .pie-recomendaciones div p {
                 background-image: linear-gradient(deeppink, black); 
                 font-size: 25px;
                 border: solid 4px;
                 border-radius: 10px;
                 padding: 30px;
                 
             }
             
             .pie-recomendaciones a {
                 text-decoration: none;
                 color: white;
                 display: flex;
             }
        
    
}